/* Main Day mode */
main.day .container_glass, main.day .about_box, main.day .profile_panel, .main.day .about_profile, main.day .profile_comments, .main.day .edit_profile{
    background: rgba(255, 255, 255, 0.600);
}
main.day .social_media .tooltiptext, main.day .day_night_content, main.night .day_night_content, main.day .profile_content, main.day .delete_alert{
    background: #fff;
}
main.day .social_media .tooltiptext::before{
    border-color: transparent transparent #fff transparent;
}
main.day nav a, main.day .tooltiptext, main.day .title, main.day .header_info span, main.day .about_profile_title, main.day .edit_profile_title, main.day .profile_comments_title, main.day .username{
    color: #213457;
}
main.day .nav_logo, main.day .header_text, main.day .header_info h3, main.day .day_night_content, main.day .content_titles, main.day .profile_name, main.day .user_info_title, main.day .form_label{
    color: #212529;
}
main.day .loader{
    background: #cce4ff;
}
main.day .day_night_content span:hover, main.day .btn{
    color: #fff;
}
main.day .about_text, main.day .skills_about_text, main.day .contact_content_text, main.day .comments_text, .main.day .user_info_text, main.day .user_bio{
    color: #424446;
}
/* Main night mode */
main.night .loader{
    background: #212529;
}
main.night .container_glass, main.night .about_box, main.night .profile_panel, .main.night .about_profile, main.night .profile_comments, .main.night .edit_profile{
    background: rgba(0, 0, 0, 0.650);
}
main.night .profile_content, .main.night .delete_alert {
    background: rgb(0, 0, 0, 0.8);
}
main.night nav a, main.night .tooltiptext, main.night .title, main.night .header_info span, .main.night .profile_name, main.night .about_profile_title, main.night .edit_profile_title, main.night .profile_comments_title, main.night .username, main.night .profile_content, main.night .profile_text{
    color: #eee;
}
main.night .nav_logo, main.night .header_text, main.night .header_info h3, main.night .day_night_content, main.night .content_titles, main.night .contact_box_title, main.night .comments_label, main.night .profile_name, main.night .user_info_title, main.night .form_label{
    color: #ccc;
}
main.night .about_text, main.night .skills_about_text, main.night .contact_content_text, main.night .comments_text, main.night .contact_box_link, main.night .user_bio, main.night .user_info_text, .main.night .delete_alert{
    color: #bbb;
}
main.night .comment, main.night .social_media .tooltiptext, .main.night .form_input{
    background: #d6d6d6;
}
.main.night .form_input::placeholder, main.night .tooltiptext {
    color: #222;
}
main.night .social_media .tooltiptext::before{
    border-color: transparent transparent #aaa transparent;
}